In [58]:
import pandas as pd
import numpy as np
import os 
import h5py

from keras.utils import to_categorical

# Labeling

In [64]:
filename = '11.submit'

root_dir = os.path.abspath(os.path.join(os.getcwd(),'..'))
submit_dir = root_dir + '/result/concat_file/'
submit_file = submit_dir + filename + '.csv'

h5py_dir = root_dir + '/dataset/h5py/label_' + filename
submit_h5py = h5py.File(h5py_dir, 'w')

print('filename: ',filename)
print()
print('root_dir: ',root_dir)
print('submit_dir: ',submit_dir)
print('submit_file: ',submit_file)
print()
print('h5py_dir: ',h5py_dir)

filename:  11.submit

root_dir:  D:\Project\TT\kaggle\State Farm Distracted Driver Detection
submit_dir:  D:\Project\TT\kaggle\State Farm Distracted Driver Detection/result/concat_file/
submit_file:  D:\Project\TT\kaggle\State Farm Distracted Driver Detection/result/concat_file/11.submit.csv
h5py_dir:  D:\Project\TT\kaggle\State Farm Distracted Driver Detection/dataset/h5py/label_11.submit

In [65]:
df = pd.read_csv(submit_file)
df.head()

,img,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9
0,img_1.jpg,5.785982e-07,1.163546e-07,1.443791e-04,7.898054e-05,3.348351e-05,9.997254e-01,5.839632e-07,2.840412e-06,1.301840e-05,5.270941e-07
1,img_10.jpg,5.278949e-07,2.826257e-07,5.086777e-07,1.629870e-08,1.093703e-06,9.999944e-01,1.184581e-07,1.912390e-07,2.881042e-06,1.539949e-08
2,img_100.jpg,7.501605e-01,2.546643e-02,4.015860e-03,2.818978e-03,7.982337e-04,2.314659e-02,3.249840e-04,3.593576e-03,1.627970e-01,2.687787e-02
3,img_1000.jpg,2.618440e-13,5.591902e-18,1.742529e-12,1.878893e-10,1.423753e-11,2.374039e-13,2.676016e-15,1.098533e-14,1.000000e+00,1.251289e-08
4,img_100000.jpg,1.553299e-07,6.215657e-08,1.943668e-07,9.999957e-01,3.648881e-06,1.162582e-08,3.690129e-08,3.844951e-08,6.642225e-08,8.886818e-09

In [66]:
size = df.shape
print('Shape submit file: ',df.shape)

Shape submit file:  (79726, 11)

In [67]:
c_df = df.iloc[:,1:]
print('Shape submit file excluded img column: ',c_df.shape)

Shape submit file excluded img column:  (79726, 10)

In [69]:
np.round(c_df,5).head()

,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9
0,0.00000,0.00000,0.00014,0.00008,0.00003,0.99973,0.00000,0.00000,0.00001,0.00000
1,0.00000,0.00000,0.00000,0.00000,0.00000,0.99999,0.00000,0.00000,0.00000,0.00000
2,0.75016,0.02547,0.00402,0.00282,0.00080,0.02315,0.00032,0.00359,0.16280,0.02688
3,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,0.00000
4,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000

In [70]:
label = np.argmax(np.array(c_df), axis=1)
onehot = to_categorical(label, 10)
onehot

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [71]:
submit_h5py.create_dataset('test_labels',data=onehot,compression='lzf')
submit_h5py.close()